body {
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #262626;
}

h1.centered{
    text-align: center;
    color: white;
    padding-top: 20%;
}
